## Before executing, make sure you have installed the following:
* pip install geopy
* pip install openpyxl
* pip install numpy
* pip install pandas

In [1]:
# import libraries
import numpy as np
import pandas as pd
from geopy.point import Point
from datetime import date

# to get current working directory information
import os 

# toget today's date
today = date.today()

# import Nominatim
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")

# provide the location of your Excel file with Latitude and Longitude details as first and second column
file_location = r"Lat_long.xlsx"
# import data format: col1: Latitudes and col2: Longitudes
DB_df = pd.read_excel(file_location)

### For Example-
---
| Latitude | Longitude |
|----------|-----------|
|23.26000023|77.41300201|
|12.97200012|77.59400177|

In [2]:
def ReverseGeoCode(data):   
    # add additional columns for country, state, city, postcode, and suburb
    data[['Country','State','City','PostalCode','Suburb']] = ''
    print("----------- Conversion Started -----------") 
    for i in range(0,len(data)):
               
        coord = Point(DB_df.iloc[i,0],DB_df.iloc[i,1])
        location = geolocator.reverse(coord, exactly_one=True)
        address = location.raw['address']
        data.iloc[i,2] =address.get('country', '')
        data.iloc[i,3] =address.get('state', '')
        data.iloc[i,4] =address.get('city', '')
        data.iloc[i,5] = address.get('postcode', '')
        data.iloc[i,6] = address.get('suburb', '')

    file_name = str("Converted_"+str(today.strftime("%d_%m_%Y"))+".xlsx")    
    data.to_excel(file_name,index=False)
    
    # to export the dataframe in Excel format with current date as postfix
    path = str(os.getcwd())+"\\"+file_name
    print("Saved to location ||",path)
    print("-"*100)
    return data

# execute the function
ReverseGeoCode(data = DB_df)

----------- Conversion Started -----------
Saved to location || C:\Users\Vishal Verma\Desktop\Python Reverse GeoCoding\Converted_01_10_2022.xlsx
----------------------------------------------------------------------------------------------------

,Latitude,Longitude,Country,State,City,PostalCode,Suburb
0,23.260000,77.413002,India,Madhya Pradesh,Bhopal,462001,Ibrahimpura
1,23.260000,77.413002,India,Madhya Pradesh,Bhopal,462001,Ibrahimpura
2,21.136999,79.078003,India,Maharashtra,Nagpur Urban Taluka,411010,Ramdaspeth
3,12.972000,77.594002,India,Karnataka,Bengaluru,560001,Shantala Nagar
4,21.146000,79.084999,India,Maharashtra,Nagpur Urban Taluka,440001,Ramdaspeth
5,21.146000,79.084999,India,Maharashtra,Nagpur Urban Taluka,440001,Ramdaspeth
6,21.146000,79.084999,India,Maharashtra,Nagpur Urban Taluka,440001,Ramdaspeth